$textWhite: rgba(255, 255, 255, 1);
$greenBtn: rgba(214, 239, 14, 1);
$textBlack: black;
$hr: rgba(131, 131, 130, 1);
$greenText: rgba(214, 239, 14, 1);
$greenBorder: rgba(214, 239, 14, 1);
$blueBack: rgba(19, 30, 58, 1);
$grayText: rgba(131, 131, 130, 1);