@import "vars";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(8, 17, 16, 1);
}

li {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

button {
    cursor: pointer;
}



.container {
    max-width: 1290px;
    margin: 0 auto;
}

.span-green {
    color: $greenText;
}

.header {
    padding-top: 28px;
    padding-bottom: 28px;

    .header-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 435px;

        &_link a {
            @include text (400, 16px, 25.6px, $textWhite)
        }
    }

    &__button {
        padding: 14.5px 40px;
        border-radius: 8px;
        @include text (700, 16px, 19.2px, $textBlack);
        background: $greenBtn;
        border: none;
    }
}

.promo {
    padding-top: 92px;
    padding-bottom: 92px;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {

        &_heading {
            @include text (500, 64px, 76.8px, $textWhite);
            margin-bottom: 20px;
        }

        &_text {
            @include text (400, 16px, 25.6px, $textWhite);
            margin-bottom: 40px;
        }

        &_explore {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 303px;
            margin-bottom: 72px;

            &-button {
                padding: 16.5px 40px;
                border-radius: 8px;
                border: none;
                @include text (700, 16px, 19.2px, $textWhite);
                background: $greenBtn
            }

            &-link {
                @include text (700, 16px, 19.2px, $textWhite);
            }
        }

        &_stats {
            display: flex;
            justify-content: space-between;
            width: 509px;

            .stats__item {
                width: 128px;
                border-right: 1px solid $greenBorder;

                &_number {
                    @include text (500px, 48px, 57.6px, $textWhite);
                    margin-bottom: 8px;
                }

                &_text {
                    @include text (400px, 16px, 25.6px, $textWhite);
                }
            }
        }
    }

    &__right {
        width: 575px;
        height: 637px;
        position: relative;

        &_img {
            margin-left: 60px;

        }

        &_svg {
            position: absolute;
            left: 0;
            top: 223px;
            
        }

        &_card {
            max-width: 304px;
            padding: 20px;
            border-radius: 16px;
            background: $blueBack;
            border-top: 1px solid rgba(214, 239, 14, 1);
            position: relative;
            margin-left: 271px;
            margin-top: -76px;

            .promo__card {
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px ;

                &_item {
                    
                    &-text:first-child {
                        @include text (400, 16px, 25.6px, $textWhite);
                    }
                    &-text:last-child {
                        @include text (700, 16px, 19.2px, $textWhite);
                    }
                }
            }

            &-button {
                width: 264px;
                @include text (700, 16px, 19.2px, $greenText);
                padding: 16.5px;
                background: none;
                border-radius: 8px;
                border: 1px solid $greenBorder;
            }
        }
    }

}

.actual {
    padding-top: 92px;
    padding-bottom: 92px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 64px;

        &_heading {
            @include text (500, 48px, 57.6px, $textWhite);
        }

        &_button {
            @include text (700, 16px, 19.2px, $textWhite);
            border: none;
            background: $greenBtn;
            padding: 16.5px 40px;
            border-radius: 8px;
        }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &_item {
            padding: 20px;
            background: $blueBack;
            border-radius: 28px;
            border-top: 1px solid rgba(214, 239, 14, 1);

            &-img {
                margin-bottom: 24px;
            }

            .content {
                &__top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;

                    &_name {
                        @include text (700, 24px, 28.8px, $textWhite);
                    }

                    &_info {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;
                        margin-bottom: 5px;

                        &-price {
                            @include text (700, 16px, 19.2px, $textWhite);
                        }
                    }
                }

                &__bot {
                    display: flex;
                    justify-content: space-between;

                    &_info {
                        &-text {
                            @include text (400, 14.5px, 22.4px, $grayText);
                            margin-bottom: 4px;
                        }

                        .content__timer {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 12px;
                            align-items: center;

                            &_time {
                                @include text (700, 16px, 19.2px, $textWhite);
                            }
                        }
                    }

                    &_button {
                        padding: 14.5px 40px;
                        border-radius: 8px;
                        border: 1px solid rgba(214, 239, 14, 1);
                        background: $blueBack;
                        @include text (700, 16px, 19.2px, $greenText);
                    }
                }

            }
        }
    }
}

.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        &_left {
            margin-top: 25px;
            width: 272px;

            &-text {
                @include text (400, 16px, 25.6px, $textWhite);
                margin-bottom: 24px;
            }

            &-soc {
                display: flex;
                justify-content: space-between;
                width: 132px;
            }
        }

        &_right {
            display: flex;
            justify-content: space-between;
            width: 688px;

            .footer__item {
                &_title {
                    @include text (700, 20px, 24px, $textWhite);
                    margin-bottom: 24px;
                }

                &_link {
                    @include text (400, 16px, 25.6px, $textWhite);

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    hr {
        border: 1px solid $hr;
        margin-bottom: 48px;
    }

    &__bot {
        display: flex;
        justify-content: space-between;

        &_left {
            @include text (400, 16px, 25.6px, $textWhite);
        }

        &_right {
            display: flex;
            justify-content: space-between;
            width: 280px;

            &-link {
                @include text (400, 16px, 25.6px, $textWhite);
            }
        }
    }
}
