* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(8, 17, 16);
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.span-green {
  color: rgb(214, 239, 14);
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}
.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 435px;
}
.header__nav_link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}
.header__button {
  padding: 14.5px 40px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: black;
  background: rgb(214, 239, 14);
  border: none;
}

.promo {
  padding-top: 92px;
  padding-bottom: 92px;
}
.promo__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__left_heading {
  font-weight: 500;
  font-size: 64px;
  line-height: 76.8px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.promo__left_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.promo__left_explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 303px;
  margin-bottom: 72px;
}
.promo__left_explore-button {
  padding: 16.5px 40px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
  background: rgb(214, 239, 14);
}
.promo__left_explore-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
}
.promo__left_stats {
  display: flex;
  justify-content: space-between;
  width: 509px;
}
.promo__left_stats .stats__item {
  width: 128px;
  border-right: 1px solid rgb(214, 239, 14);
}
.promo__left_stats .stats__item_number {
  font-weight: 500px;
  font-size: 48px;
  line-height: 57.6px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.promo__left_stats .stats__item_text {
  font-weight: 400px;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}
.promo__right {
  width: 575px;
  height: 637px;
  position: relative;
}
.promo__right_img {
  margin-left: 60px;
}
.promo__right_svg {
  position: absolute;
  left: 0;
  top: 223px;
}
.promo__right_card {
  max-width: 304px;
  padding: 20px;
  border-radius: 16px;
  background: rgb(19, 30, 58);
  border-top: 1px solid rgb(214, 239, 14);
  position: relative;
  margin-left: 271px;
  margin-top: -76px;
}
.promo__right_card .promo__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.promo__right_card .promo__card_item-text:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}
.promo__right_card .promo__card_item-text:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
}
.promo__right_card-button {
  width: 264px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(214, 239, 14);
  padding: 16.5px;
  background: none;
  border-radius: 8px;
  border: 1px solid rgb(214, 239, 14);
}

.actual {
  padding-top: 92px;
  padding-bottom: 92px;
}
.actual__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 64px;
}
.actual__top_heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 57.6px;
  color: rgb(255, 255, 255);
}
.actual__top_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
  border: none;
  background: rgb(214, 239, 14);
  padding: 16.5px 40px;
  border-radius: 8px;
}
.actual__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.actual__card_item {
  padding: 20px;
  background: rgb(19, 30, 58);
  border-radius: 28px;
  border-top: 1px solid rgb(214, 239, 14);
}
.actual__card_item-img {
  margin-bottom: 24px;
}
.actual__card_item .content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.actual__card_item .content__top_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: rgb(255, 255, 255);
}
.actual__card_item .content__top_info {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 5px;
}
.actual__card_item .content__top_info-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
}
.actual__card_item .content__bot {
  display: flex;
  justify-content: space-between;
}
.actual__card_item .content__bot_info-text {
  font-weight: 400;
  font-size: 14.5px;
  line-height: 22.4px;
  color: rgb(131, 131, 130);
  margin-bottom: 4px;
}
.actual__card_item .content__bot_info .content__timer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}
.actual__card_item .content__bot_info .content__timer_time {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(255, 255, 255);
}
.actual__card_item .content__bot_button {
  padding: 14.5px 40px;
  border-radius: 8px;
  border: 1px solid rgb(214, 239, 14);
  background: rgb(19, 30, 58);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  color: rgb(214, 239, 14);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.footer__top_left {
  margin-top: 25px;
  width: 272px;
}
.footer__top_left-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.footer__top_left-soc {
  display: flex;
  justify-content: space-between;
  width: 132px;
}
.footer__top_right {
  display: flex;
  justify-content: space-between;
  width: 688px;
}
.footer__top_right .footer__item_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.footer__top_right .footer__item_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}
.footer__top_right .footer__item_link:not(:last-child) {
  margin-bottom: 8px;
}
.footer hr {
  border: 1px solid rgb(131, 131, 130);
  margin-bottom: 48px;
}
.footer__bot {
  display: flex;
  justify-content: space-between;
}
.footer__bot_left {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}
.footer__bot_right {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.footer__bot_right-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */